<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
<main>
    <div class="wrapper">
        <form class="form" method="post">
            <div class="form__img">
                <img src="/img/img.png" alt="" class="img">
            </div>
            <h1 class="form__title">Войти в игру</h1>
            <div>
                <input type="text" placeholder="Логин" class="login" id="login-input" name="login">
            </div>
            <div>
                <input type="password" placeholder="Пароль" class="password" id="password-input" name="password">
            </div>
            <div>
                <button class="submit-btn" id="btn-send" type="submit">Войти</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>