*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #E5E5E5;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: -webkit-fill-available;
}

/*----auth----*/

.form {
    width: 400px;
    border-radius: 12px;
    background: #fff;
    padding: 40px 24px;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
}

.form__img {
    text-align: center;
    margin: 0 0 20px 0;
}

.img {
    width: 132px;
    height: 132px;
}

.form__title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 150%;
    margin: 0 0 20px 0;
    color: #373745;
}

.login {
    padding: 12px 20px;
    border-radius: 12px;
    border: 1px solid #DCDCDF;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
}

.password {
    padding: 12px 20px;
    border-radius: 12px;
    border: 1px solid #DCDCDF;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
}

.submit-btn {
    padding: 12px 20px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 12px;
    font-weight: 500;
    background: #60C2AA;
    color: #fff;
    border: none;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
}

.submit-btn.disabled {
    opacity: .4;
}
/*---nav----*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 16px 40px;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.logo {
    cursor: pointer;
}

.nav__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}

.nav__link.active {
    background: #60C2AA;
    color: #fff;
    padding: 4px 12px;
    border-radius: 200px;
}

.header__btn {
    border: none;
    background: none;
    cursor: pointer;
}


/*---rating---*/

.rating {
    max-width: 1026px;
    margin: 144px auto;
    background: #fff;
    padding: 32px;
    border-radius: 40px;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
}

.rating__title {
    margin: 0 0 24px 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    color: #373745;
}

table {
    width: 100%;
}

th, td {
    font-family: 'Roboto';
    text-align: left;
    padding: 12px 8px;
    color: #373745;
}

th {
    font-weight: 500;
}

tr {
    box-shadow: inset 0px -1px 0px #EEEFF5;
}

td:first-child {
    width: 424px;
    padding-right: 32px;
}

.wins {
    color: #69B849;
}

.loses {
    color: #E93E3E;;
}
